@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgba(15,23,42,1) 0%, rgba(0,0,0,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
